<!--
Proyecto de desarrollo de aplicaciones web
Vista bandeja de entrada
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="es_MX">

<head>
    <meta charset="utf-8">
    <title>Bandeja de entrada - Mensajator 3000</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Servicio de mensajeria express.</h1>
        <h2>Desarrollo de aplicaciones web.</h2>
        <h2>Alan Velasco, Antonio Tarín, Candy Torres, Jorge Ramírez, Katia Tarín.</h2>
        <hr>
    </header>
    <h1>✉️ Mensajes para {{ user }}</h1>

    <table>
        <tr>
            <th>Remitente</th>
            <th>Mensaje</th>
        </tr>
        {% for message in messages %}
        <tr>
            <th>{{message[0]}}</th>
            <th>{{message[1]}}</th>
        </tr>
        {% endfor %}
    </table>
    <p>
        <a href="../">🏠 Regresar al inicio</a>
    </p>
</body>

</html>